body{
    background-image: url("tre.jpg");
   
    background-attachment:fixed ;
    background-size: cover;
}

h1{
    text-align: center;
    font-weight: 900%;
}
section{
    margin-top: 50px;
    margin-bottom: 50px;
}
div{
   
    height: 350px;
    width: 350px;
    border: 2px solid rgba(255, 255, 255,0.5);  
    border-radius: 5px;
    margin:20px 200px 20px 350px;
    padding: 20px;
    opacity: 0.7;
    background-color: white;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255,0.5);
}
form{
   
    margin-top: 40px;
    margin-left: 40px;
}
#pp{
    width: 250px;
    height: 20px;
}
label{
    width: 250px;
    color: rgb(11, 9, 9);
}
#rad{
    margin-top: 40px;
}
#smart{
    text-decoration: none;
}
#but{
    cursor: pointer;
    margin-left: 60px;
    height: 40px;
    width: 80px;
    font-size: large;
    
    background-color:rgb(96, 96, 252);
    border: none;
    color: aliceblue;
    
}
#but:hover{
    background-color: rgb(183, 183, 202);
    box-shadow: 1px 1px 1px 1px rgb(4, 4, 252);
}
